<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">


    <title>Locations List</title>
    <!-- reference CSS file -->
<!--    <link rel="stylesheet"-->
<!--          th:href="@{/css/demo.css}" />-->

</head>

<body>
    <div class="container">
        <h3>Locations Directory</h3>
        <hr>

        <a th:href="@{/location/showFormForAdd}"
            class="btn btn-primary btn-sm mb-3">
            Add Location
        </a>

        <table class="table">
            <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tempLocation : ${locations}">
                <td>
                    <a th:href="@{/location/details(locationId=${tempLocation.getId()})}" th:text="${tempLocation.getId()}"></a>
                </td>
                <td th:text="${tempLocation.getName()}"></td>
                <td th:text="${tempLocation.getAddress()}"></td>
                <td th:text="${tempLocation.getCity().getName()}"></td>
                <td th:text="${tempLocation.getLatitude()}"></td>
                <td th:text="${tempLocation.getLongitude()}"></td>

                <td>
                    <div sec:authorize="hasAnyRole('ROLE_MANAGER', 'ROLE_ADMIN')">
                        <!-- Add "update" button/link -->
                        <a th:href="@{/location/showFormForUpdate(locationId=${tempLocation.getId()})}"
                           class="btn btn-info btn-sm">
                            Update
                        </a>
                    </div>
                </td>
                <td>
                    <div sec:authorize="hasRole('ROLE_ADMIN')">

                        <!-- Add "delete" button/link -->
                        <a th:href="@{/location/delete(locationId=${tempLocation.getId()})}"
                           class="btn btn-danger btn-sm"
                           onclick="if (!(confirm('Are you sure?'))) return false">
                            Delete
                        </a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <hr>

        <a th:href="@{/logout}">Logout from the App!</a>

    </div>
</body>

</html>