<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">


    <title>Save Location</title>
</head>

<body>
    <div class="container">
        <h3>Locations Directory</h3>
        <hr>

        <p class="h4 mb-4">Save Location</p>

        <form action="#" th:action="@{/location/save}"
                            th:object="${location}" method="POST">

            <input type="hidden" th:field="*{id}" />

            <input type="text" th:field="*{name}" class="form-control mb-4 col-4" placeholder="Name">
            <input type="text" th:field="*{latitude}" class="form-control mb-4 col-4" placeholder="Latitude">
            <input type="text" th:field="*{longitude}" class="form-control mb-4 col-4" placeholder="Longitude">
            <!--TODO add a dropdown list -->
<!--            <input type="text" th:field="*{cityId}" class="form-control mb-4 col-4" placeholder="Address">-->
            <select th:field="${location.city}" class="form-select form-control mb-4 col-4">
                <option th:each="tempCity : ${cities}" th:value="${tempCity.getId()}" th:text="${tempCity.getName()}"></option>
            </select>
            <input type="text" th:field="*{address}" class="form-control mb-4 col-4" placeholder="Address">

            <button type="submit" class="btn btn-info col-2">Save</button>
        </form>

        <hr>
        <a class="btn btn-secondary" th:href="@{/location/getAllLocations}">Cancel</a>
    </div>
</body>

</html>