<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">


    <title>Cities List</title>
    <!-- reference CSS file -->
<!--    <link rel="stylesheet"-->
<!--          th:href="@{/css/demo.css}" />-->

</head>

<body>
    <div class="container">
        <h3>Cities Directory</h3>
        <hr>
        <table class="table">
            <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>City Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tempCity : ${cities}">
                <td th:text="${tempCity.getId()}"></td>
                <td th:text="${tempCity.getName()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>

</html>